.Care{
  position:relative;
  top:87px;
  width:100%;
  padding:1rem;
  box-sizing:border-box;
  margin-bottom:87px;
  text-align:center;
  border:1px solid green;
}
.Care_txt{
  padding:1rem 7rem;
  margin-bottom:3rem;
}
.Care_txt h3{
  font-size:2rem;
  margin-bottom:1rem;
  font-weight:600;
}
.Care_txt p{
  line-height:2.5rem;
  font-size:1.2rem;
}