.footer{
  width:100%;
  background:#666;
  padding:1rem;
  box-sizing:border-box;
  position:fixed;
  bottom:0;
  color:#fff;
}
.footer a{
  color:#fff;
  font-weight:400;
  padding:0.2rem 0.8rem;
  box-sizing:border-box;
}
.footer a:hover{
  font-weight:bold;
}
.copy{
  font-weight:600;
  position:absolute;
  right:1rem;
  bottom:1rem;
}
.footer_content{
  line-height:1.5rem;
  padding:0.5rem;
  box-sizing:border-box;
  border:1px solid #999;
  margin:1rem 0 1.8rem;
  display:none;
}